Frontendowa_aplikacja/Frontendowa_aplikacja/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54628/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54628/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54628/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Projekt_PPR" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_ile_wierszy_InputMessage">
    <wsdl:part name="parameters" element="tns:ile_wierszy" />
  </wsdl:message>
  <wsdl:message name="IService1_ile_wierszy_OutputMessage">
    <wsdl:part name="parameters" element="tns:ile_wierszyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ile_historii_InputMessage">
    <wsdl:part name="parameters" element="tns:ile_historii" />
  </wsdl:message>
  <wsdl:message name="IService1_ile_historii_OutputMessage">
    <wsdl:part name="parameters" element="tns:ile_historiiResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_wczytaj_id_InputMessage">
    <wsdl:part name="parameters" element="tns:wczytaj_id" />
  </wsdl:message>
  <wsdl:message name="IService1_wczytaj_id_OutputMessage">
    <wsdl:part name="parameters" element="tns:wczytaj_idResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_zwroc_imie_InputMessage">
    <wsdl:part name="parameters" element="tns:zwroc_imie" />
  </wsdl:message>
  <wsdl:message name="IService1_zwroc_imie_OutputMessage">
    <wsdl:part name="parameters" element="tns:zwroc_imieResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_zwroc_rase_InputMessage">
    <wsdl:part name="parameters" element="tns:zwroc_rase" />
  </wsdl:message>
  <wsdl:message name="IService1_zwroc_rase_OutputMessage">
    <wsdl:part name="parameters" element="tns:zwroc_raseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_zwroc_wiek_InputMessage">
    <wsdl:part name="parameters" element="tns:zwroc_wiek" />
  </wsdl:message>
  <wsdl:message name="IService1_zwroc_wiek_OutputMessage">
    <wsdl:part name="parameters" element="tns:zwroc_wiekResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_zwroc_kontakt_InputMessage">
    <wsdl:part name="parameters" element="tns:zwroc_kontakt" />
  </wsdl:message>
  <wsdl:message name="IService1_zwroc_kontakt_OutputMessage">
    <wsdl:part name="parameters" element="tns:zwroc_kontaktResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_zwroc_zdj_InputMessage">
    <wsdl:part name="parameters" element="tns:zwroc_zdj" />
  </wsdl:message>
  <wsdl:message name="IService1_zwroc_zdj_OutputMessage">
    <wsdl:part name="parameters" element="tns:zwroc_zdjResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_zwroc_opiekuna_InputMessage">
    <wsdl:part name="parameters" element="tns:zwroc_opiekuna" />
  </wsdl:message>
  <wsdl:message name="IService1_zwroc_opiekuna_OutputMessage">
    <wsdl:part name="parameters" element="tns:zwroc_opiekunaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_dodaj_zwierzaka_InputMessage">
    <wsdl:part name="parameters" element="tns:dodaj_zwierzaka" />
  </wsdl:message>
  <wsdl:message name="IService1_dodaj_zwierzaka_OutputMessage">
    <wsdl:part name="parameters" element="tns:dodaj_zwierzakaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_modyfikuj_zwierzaka_InputMessage">
    <wsdl:part name="parameters" element="tns:modyfikuj_zwierzaka" />
  </wsdl:message>
  <wsdl:message name="IService1_modyfikuj_zwierzaka_OutputMessage">
    <wsdl:part name="parameters" element="tns:modyfikuj_zwierzakaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_zwroc_id_operacji_InputMessage">
    <wsdl:part name="parameters" element="tns:zwroc_id_operacji" />
  </wsdl:message>
  <wsdl:message name="IService1_zwroc_id_operacji_OutputMessage">
    <wsdl:part name="parameters" element="tns:zwroc_id_operacjiResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_zwroc_rase_operacji_InputMessage">
    <wsdl:part name="parameters" element="tns:zwroc_rase_operacji" />
  </wsdl:message>
  <wsdl:message name="IService1_zwroc_rase_operacji_OutputMessage">
    <wsdl:part name="parameters" element="tns:zwroc_rase_operacjiResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_dodaj_historie_InputMessage">
    <wsdl:part name="parameters" element="tns:dodaj_historie" />
  </wsdl:message>
  <wsdl:message name="IService1_dodaj_historie_OutputMessage">
    <wsdl:part name="parameters" element="tns:dodaj_historieResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_zwroc_date_InputMessage">
    <wsdl:part name="parameters" element="tns:zwroc_date" />
  </wsdl:message>
  <wsdl:message name="IService1_zwroc_date_OutputMessage">
    <wsdl:part name="parameters" element="tns:zwroc_dateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_zwroc_id_opiekuna_InputMessage">
    <wsdl:part name="parameters" element="tns:zwroc_id_opiekuna" />
  </wsdl:message>
  <wsdl:message name="IService1_zwroc_id_opiekuna_OutputMessage">
    <wsdl:part name="parameters" element="tns:zwroc_id_opiekunaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_zwroc_imie_opiekuna_InputMessage">
    <wsdl:part name="parameters" element="tns:zwroc_imie_opiekuna" />
  </wsdl:message>
  <wsdl:message name="IService1_zwroc_imie_opiekuna_OutputMessage">
    <wsdl:part name="parameters" element="tns:zwroc_imie_opiekunaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_zwroc_nazwisko_opiekuna_InputMessage">
    <wsdl:part name="parameters" element="tns:zwroc_nazwisko_opiekuna" />
  </wsdl:message>
  <wsdl:message name="IService1_zwroc_nazwisko_opiekuna_OutputMessage">
    <wsdl:part name="parameters" element="tns:zwroc_nazwisko_opiekunaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_zwroc_pensje_opiekuna_InputMessage">
    <wsdl:part name="parameters" element="tns:zwroc_pensje_opiekuna" />
  </wsdl:message>
  <wsdl:message name="IService1_zwroc_pensje_opiekuna_OutputMessage">
    <wsdl:part name="parameters" element="tns:zwroc_pensje_opiekunaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ile_opieuknow_InputMessage">
    <wsdl:part name="parameters" element="tns:ile_opieuknow" />
  </wsdl:message>
  <wsdl:message name="IService1_ile_opieuknow_OutputMessage">
    <wsdl:part name="parameters" element="tns:ile_opieuknowResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_modyfikuj_pensje_InputMessage">
    <wsdl:part name="parameters" element="tns:modyfikuj_pensje" />
  </wsdl:message>
  <wsdl:message name="IService1_modyfikuj_pensje_OutputMessage">
    <wsdl:part name="parameters" element="tns:modyfikuj_pensjeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="ile_wierszy">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ile_wierszy" message="tns:IService1_ile_wierszy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ile_wierszyResponse" message="tns:IService1_ile_wierszy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ile_historii">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ile_historii" message="tns:IService1_ile_historii_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ile_historiiResponse" message="tns:IService1_ile_historii_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="wczytaj_id">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/wczytaj_id" message="tns:IService1_wczytaj_id_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/wczytaj_idResponse" message="tns:IService1_wczytaj_id_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="zwroc_imie">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/zwroc_imie" message="tns:IService1_zwroc_imie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/zwroc_imieResponse" message="tns:IService1_zwroc_imie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="zwroc_rase">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/zwroc_rase" message="tns:IService1_zwroc_rase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/zwroc_raseResponse" message="tns:IService1_zwroc_rase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="zwroc_wiek">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/zwroc_wiek" message="tns:IService1_zwroc_wiek_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/zwroc_wiekResponse" message="tns:IService1_zwroc_wiek_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="zwroc_kontakt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/zwroc_kontakt" message="tns:IService1_zwroc_kontakt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/zwroc_kontaktResponse" message="tns:IService1_zwroc_kontakt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="zwroc_zdj">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/zwroc_zdj" message="tns:IService1_zwroc_zdj_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/zwroc_zdjResponse" message="tns:IService1_zwroc_zdj_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="zwroc_opiekuna">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/zwroc_opiekuna" message="tns:IService1_zwroc_opiekuna_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/zwroc_opiekunaResponse" message="tns:IService1_zwroc_opiekuna_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="dodaj_zwierzaka">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/dodaj_zwierzaka" message="tns:IService1_dodaj_zwierzaka_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/dodaj_zwierzakaResponse" message="tns:IService1_dodaj_zwierzaka_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modyfikuj_zwierzaka">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/modyfikuj_zwierzaka" message="tns:IService1_modyfikuj_zwierzaka_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/modyfikuj_zwierzakaResponse" message="tns:IService1_modyfikuj_zwierzaka_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="zwroc_id_operacji">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/zwroc_id_operacji" message="tns:IService1_zwroc_id_operacji_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/zwroc_id_operacjiResponse" message="tns:IService1_zwroc_id_operacji_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="zwroc_rase_operacji">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/zwroc_rase_operacji" message="tns:IService1_zwroc_rase_operacji_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/zwroc_rase_operacjiResponse" message="tns:IService1_zwroc_rase_operacji_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="dodaj_historie">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/dodaj_historie" message="tns:IService1_dodaj_historie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/dodaj_historieResponse" message="tns:IService1_dodaj_historie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="zwroc_date">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/zwroc_date" message="tns:IService1_zwroc_date_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/zwroc_dateResponse" message="tns:IService1_zwroc_date_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="zwroc_id_opiekuna">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/zwroc_id_opiekuna" message="tns:IService1_zwroc_id_opiekuna_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/zwroc_id_opiekunaResponse" message="tns:IService1_zwroc_id_opiekuna_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="zwroc_imie_opiekuna">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/zwroc_imie_opiekuna" message="tns:IService1_zwroc_imie_opiekuna_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/zwroc_imie_opiekunaResponse" message="tns:IService1_zwroc_imie_opiekuna_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="zwroc_nazwisko_opiekuna">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/zwroc_nazwisko_opiekuna" message="tns:IService1_zwroc_nazwisko_opiekuna_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/zwroc_nazwisko_opiekunaResponse" message="tns:IService1_zwroc_nazwisko_opiekuna_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="zwroc_pensje_opiekuna">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/zwroc_pensje_opiekuna" message="tns:IService1_zwroc_pensje_opiekuna_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/zwroc_pensje_opiekunaResponse" message="tns:IService1_zwroc_pensje_opiekuna_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ile_opieuknow">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ile_opieuknow" message="tns:IService1_ile_opieuknow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ile_opieuknowResponse" message="tns:IService1_ile_opieuknow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modyfikuj_pensje">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/modyfikuj_pensje" message="tns:IService1_modyfikuj_pensje_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/modyfikuj_pensjeResponse" message="tns:IService1_modyfikuj_pensje_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ile_wierszy">
      <soap:operation soapAction="http://tempuri.org/IService1/ile_wierszy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ile_historii">
      <soap:operation soapAction="http://tempuri.org/IService1/ile_historii" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wczytaj_id">
      <soap:operation soapAction="http://tempuri.org/IService1/wczytaj_id" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="zwroc_imie">
      <soap:operation soapAction="http://tempuri.org/IService1/zwroc_imie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="zwroc_rase">
      <soap:operation soapAction="http://tempuri.org/IService1/zwroc_rase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="zwroc_wiek">
      <soap:operation soapAction="http://tempuri.org/IService1/zwroc_wiek" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="zwroc_kontakt">
      <soap:operation soapAction="http://tempuri.org/IService1/zwroc_kontakt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="zwroc_zdj">
      <soap:operation soapAction="http://tempuri.org/IService1/zwroc_zdj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="zwroc_opiekuna">
      <soap:operation soapAction="http://tempuri.org/IService1/zwroc_opiekuna" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dodaj_zwierzaka">
      <soap:operation soapAction="http://tempuri.org/IService1/dodaj_zwierzaka" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modyfikuj_zwierzaka">
      <soap:operation soapAction="http://tempuri.org/IService1/modyfikuj_zwierzaka" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="zwroc_id_operacji">
      <soap:operation soapAction="http://tempuri.org/IService1/zwroc_id_operacji" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="zwroc_rase_operacji">
      <soap:operation soapAction="http://tempuri.org/IService1/zwroc_rase_operacji" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dodaj_historie">
      <soap:operation soapAction="http://tempuri.org/IService1/dodaj_historie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="zwroc_date">
      <soap:operation soapAction="http://tempuri.org/IService1/zwroc_date" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="zwroc_id_opiekuna">
      <soap:operation soapAction="http://tempuri.org/IService1/zwroc_id_opiekuna" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="zwroc_imie_opiekuna">
      <soap:operation soapAction="http://tempuri.org/IService1/zwroc_imie_opiekuna" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="zwroc_nazwisko_opiekuna">
      <soap:operation soapAction="http://tempuri.org/IService1/zwroc_nazwisko_opiekuna" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="zwroc_pensje_opiekuna">
      <soap:operation soapAction="http://tempuri.org/IService1/zwroc_pensje_opiekuna" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ile_opieuknow">
      <soap:operation soapAction="http://tempuri.org/IService1/ile_opieuknow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modyfikuj_pensje">
      <soap:operation soapAction="http://tempuri.org/IService1/modyfikuj_pensje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:54628/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>