Frontendowa_aplikacja/Frontendowa_aplikacja/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54628/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Projekt_PPR" />
  <xs:element name="ile_wierszy">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ile_wierszyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ile_wierszyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="wczytaj_id">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="var" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="wczytaj_idResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="wczytaj_idResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="zwroc_imie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="var" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="zwroc_imieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zwroc_imieResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="zwroc_rase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="var" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="zwroc_raseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zwroc_raseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="zwroc_wiek">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="var" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="zwroc_wiekResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zwroc_wiekResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="zwroc_kontakt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="var" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="zwroc_kontaktResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zwroc_kontaktResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="zwroc_zdj">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="var" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="zwroc_zdjResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zwroc_zdjResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="zwroc_opiekuna">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="var" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="zwroc_opiekunaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zwroc_opiekunaResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dodaj_zwierzaka">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="imie" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rasa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="wiek" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="kontakt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zdj" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opiekun" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dodaj_zwierzakaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dodaj_zwierzakaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modyfikuj_zwierzaka">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modyfikuj_zwierzakaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modyfikuj_zwierzakaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Projekt_PPR" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Projekt_PPR" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>